$Lib-Regular : 'LibreBaskerville-Regular';
$Lib-Italic : 'LibreBaskerville-Italic';
$Lib-Bold : 'LibreBaskerville-Bold';


$primery-color: green;
$secondary-color: white;






$breakpoints:( 'xsm':480px, 'sm': 576px, 'md': 768px,'xmd': 992px, 'lg': 1024px, 'xml': 1199px, 'xl': 1280px, 'xxl': 1439px);
    @mixin xsm{@media (max-width: map-get($breakpoints, 'xsm')) {@content;}}
    @mixin sm{@media (max-width: map-get($breakpoints, 'sm')) {@content;}}
    @mixin md {@media (max-width: map-get($breakpoints, 'md')) {@content;}}
    @mixin xmd {@media (max-width: map-get($breakpoints, 'xmd')) {@content;}}
    @mixin lg {@media (max-width: map-get($breakpoints, 'lg')) {@content;}}
    @mixin xml {@media (max-width: map-get($breakpoints, 'xml')) {@content;}}
    @mixin xl {@media (max-width: map-get($breakpoints, 'xl')) {@content;}}
    @mixin xxl {@media (max-width: map-get($breakpoints, 'xxl')) {@content;}}